<!-- Compare it to L3-demo -->
<!DOCTYPE html>
<html>
    <head>
        <title>L4</title>
    </head>
    <body>
        <div id="root">

            <ul>
                <li v-for="name in names" v-text="name"></li>
            </ul>

            <input type="text" v-model="newName"></input>
            <button @click="addName">Add name</button>

        </div>


        <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>

        <script>

            var app = new Vue({
                
                el: '#root',
                
                data: {

                    newName: '',
                    names: ['Joe','Mary','Jane','Jack']

                },

                methods: {
                    addName() {
                        //this.names.push(newName); //错误 拿不到 newName 的内容
                        this.names.push(this.newName);

                        this.newName = '';
                    }

                    // 注意： es6 的写法，支持主流浏览器。对于旧的浏览器，可能需要这么写：``` addName: function() {} ```
                    // 注意 this 的用法，会直接拿到 data 中的数据
                    // 已经为 ``<input>`` 添加了 v-model 
                    // `@` 是 ``v-on:`` 的简写
                    // 可以尝试在 ``<input>`` 中添加事件 ``v-on:KeyUp="addName"``
                },

            });
                                
            
        </script>
    </body>
</html>